<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/headshot'>
        <img src="../static/headshot.png">
    </a>
    <a href='http://127.0.0.1:5000/nightwish'>
        <img src="../static/nightwish.png">
    </a>
    <a href='http://127.0.0.1:5000/bloodsport'>
        <img src="../static/bloodsport.png">
    </a>
    <a href='http://127.0.0.1:5000/neonrider'>
        <img src="../static/neonrider.png">
    </a>
    <a href='http://127.0.0.1:5000/fireserpent'>
        <img src="../static/fireserpent.png">
    </a>
    <a href='http://127.0.0.1:5000/wildlotus'>
        <img src="../static/wildlotus.png">
    </a>
</body>
</html>