<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/wildfire'>
        <img src="../static/wildfire.png">
    </a>
    <a href='http://127.0.0.1:5000/neonoir'>
        <img src="../static/neonoir.png">
    </a>
    <a href='http://127.0.0.1:5000/containmentbreach'>
        <img src="../static/containmentbreach.png">
    </a>
    <a href='http://127.0.0.1:5000/chromaticaberration'>
        <img src="../static/chromaticaberration.png">
    </a>
</body>
</html>