<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/Navbarbuttons.css">
  <title>Skin Homepage</title> <!-- Navbarbuttons is the css page for the homepage-->
</head>
<body>
  <div class="HeadFunct">
  <img src = '../static/0x0.webp' alt = "CS2 logo" style="width:250px;height:80px">
  <p>SILLISKINS</p>
  </div>
    <div class="navbar">
      <a href="http://127.0.0.1:5000">Home</a>
      <a href="https://www.counter-strike.net/news">News</a>
      <a href="http://127.0.0.1:5000/home">Login</a>
      <a href="http://127.0.0.1:5000/update">Account Delete</a>
      <div class="dropdown">
        <button class="dropbtn">Rifles
          <i class="1button"></i>
        </button>
        <div class="dropdown-content">
          <a href='/AK'>AK-47</a>
          <a href='/m4a4'>M4A4</a>
          <a href='/m4a1-s'>M4A1-S</a>
          <a href='/scout'>SSG-08</a>
          <a href='/AWP'>AWP</a>
        </div>
      </div>
      <div class="second-dropdown">
        <button class="dropbtn">Pistols
          <i class="1button"></i>
        </button>
        <div class="dropdown-content">
          <a href='/USPS'>USP-S</a>
          <a href='/p2000'>P2000</a>
          <a href='/deag'>Desert Eagle</a>
        </div>
      </div>
      <div class="third-dropdown">
        <button class="dropbtn">Heavies
          <i class="1button"></i>
        </button>
        <div class="dropdown-content">
          <a href='/nova'>Nova</a>
          <a href='/negev'>Negev</a>
        </div>
      </div>
    </div>
<body>
  {% block body %}
  {% endblock %}
</body>
</body>
</html>





