<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table id="demo">
        {% for u in sk %}
        <tr>
            <th>{{ u[0] }}</th>
            <th>{{ u[1] }}</th>
            <th>{{ u[2] }}</th>
            <th>{{ u[3] }}</th>
            <th>{{ u[4] }}</th>
            <th>{{ u[5] }}</th>
        </tr>
        <tr>
          <td>{{ u[0] }}</td>
          <td>{{ u[1] }}</td>
          <td>{{ u[2] }}</td>
          <td>{{ u[3] }}</td>
          <td>{{ u[4] }}</td>
          <td>{{ u[5] }}</td>
        </tr>
      {% endfor %}
    </table>
</body>
</html>
