<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/cobaltdisruption'>
        <img src="../static/cobaltdisruption.png">
    </a>
    <a href='http://127.0.0.1:5000/deagPrintstream'>
        <img src="../static/deagPrintstream.png">
    </a>
    <a href='http://127.0.0.1:5000/codered'>
        <img src="../static/codered.png">
    </a>
    <a href='http://127.0.0.1:5000/kumichodragon'>
        <img src="../static/kumichodragon.png">
    </a>
    <a href='http://127.0.0.1:5000/lightrail'>
        <img src="../static/lightrail.png">
    </a>
    <a href='http://127.0.0.1:5000/oceandrive'>
        <img src="../static/oceandrive.png">
    </a>
</body>
</html>