<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
{% block body %}
<body>
    <table>
        <thead>
            <p class='homepagehead'>Welcome to SILLISKINS! I hope you enjoy your stay!</p>
        </thead>
    </table>
</body>
{%endblock%}