<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/mechaindustries'>
        <img src="../static/mechaindustries.png">
    </a>
    <a href='http://127.0.0.1:5000/playertwo'>
        <img src="../static/playertwo.png">
    </a>
    <a href='http://127.0.0.1:5000/nightmare'>
        <img src="../static/nightmare.png">
    </a>
    <a href='http://127.0.0.1:5000/hotrod'>
        <img src="../static/hotrod.png">
    </a>
    <a href='http://127.0.0.1:5000/decimator'>
        <img src="../static/decimator.png">
    </a>
    <a href='http://127.0.0.1:5000/knight'>
        <img src="../static/knight.png">
    </a>
</body>
</html>