<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/temukau'>
        <img src="../static/temukau.png">
    </a>
    <a href='http://127.0.0.1:5000/asiimov'>
        <img src="../static/asiimov.png">
    </a>
    <a href='http://127.0.0.1:5000/howl'>
        <img src="../static/howl.png">
    </a>
    <a href='http://127.0.0.1:5000/hellfire'>
        <img src="../static/hellfire.png">
    </a>
    <a href='http://127.0.0.1:5000/desolatespace'>
        <img src="../static/desolatespace.png">
    </a>
    <a href='http://127.0.0.1:5000/cybersecurity'>
        <img src="../static/cybersecurity.png">
    </a>
</body>
</html>