<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/loudmouth'>
        <img src="../static/loudmouth.png">
    </a>
    <a href='http://127.0.0.1:5000/powerloader'>
        <img src="../static/powerloader.png">
    </a>
    <a href='http://127.0.0.1:5000/dazzle'>
        <img src="../static/dazzle.png">
    </a>
    <a href='http://127.0.0.1:5000/bulkhead'>
        <img src="../static/bulkhead.png">
    </a>
    <a href='http://127.0.0.1:5000/nuclearwaste'>
        <img src="../static/nuclearwaste.png">
    </a>
    <a href='http://127.0.0.1:5000/palm'>
        <img src="../static/palm.png">
    </a>
</body>
</html>