<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/bloomstick'>
        <img src="../static/bloomstick.png">
    </a>
    <a href='http://127.0.0.1:5000/hyperbeast'>
        <img src="../static/hyperbeast.png">
    </a>
    <a href='http://127.0.0.1:5000/antique'>
        <img src="../static/antique.png">
    </a>
    <a href='http://127.0.0.1:5000/wildsix'>
        <img src="../static/wildsix.png">
    </a>
    <a href='http://127.0.0.1:5000/koi'>
        <img src="../static/koi.png">
    </a>
    <a href='http://127.0.0.1:5000/sobeksbite'>
        <img src="../static/sobeksbite.png">
    </a>
</body>
</html>