<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/obsidian'>
        <img src="../static/obsidian.png">
    </a>
    <a href='http://127.0.0.1:5000/oceanfoam'>
        <img src="../static/oceanfoam.png">
    </a>
    <a href='http://127.0.0.1:5000/fireelemental'>
        <img src="../static/fireelemental.png">
    </a>
    <a href='http://127.0.0.1:5000/wickedsick'>
        <img src="../static/wickedsick.png">
    </a>
    <a href='http://127.0.0.1:5000/imperialdragon'>
        <img src="../static/imperialdragon.png">
    </a>
    <a href='http://127.0.0.1:5000/oceanic'>
        <img src="../static/oceanic.png">
    </a>
</body>
</html>