<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/dragonfire'>
        <img src="../static/dragonfire.png">
    </a>
    <a href='http://127.0.0.1:5000/bloodinthewater'>
        <img src="../static/bloodinthewater.png">
    </a>
    <a href='http://127.0.0.1:5000/turbopeek'>
        <img src="../static/turbopeek.png">
    </a>
    <a href='http://127.0.0.1:5000/deathstrike'>
        <img src="../static/deathstrike.png">
    </a>
    <a href='http://127.0.0.1:5000/parallax'>
        <img src="../static/parallax.png">
    </a>
    <a href='http://127.0.0.1:5000/cybersecurity'>
        <img src="../static/feverdream.png">
    </a>
</body>
</html>