<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <a href='http://127.0.0.1:5000/printstream'>
        <img src="../static/printstream.png">
    </a>
    <a href='http://127.0.0.1:5000/thetraitor'>
        <img src="../static/thetraitor.png">
    </a>
    <a href='http://127.0.0.1:5000/monstermashup'>
        <img src="../static/monstermashup.png">
    </a>
    <a href='http://127.0.0.1:5000/killconfirmed'>
        <img src="../static/killconfirmed.png">
    </a>
    <a href='http://127.0.0.1:5000/orion'>
        <img src="../static/orion.png">
    </a>
    <a href='http://127.0.0.1:5000/targetaquired'>
        <img src="../static/targetaquired.png">
    </a>
</body>
</html>