<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!--Here i am using the Bootstrap JS and CSS for ease of customization-->
</head>
{%include 'base.html'%}
<body>
    <div class = "SkinName">
        <p style = "font-size: 50px">AWP</p>
    </div>
    <div class = "TableRow1">
        <table>
            <caption>Containment Breach</caption>
            {% for u in sk %}
            <tr>
                <th>Wear</th>
                <th>price</th>
            </tr>
            <tr>
                <td>Factory New</td>
                <td>{{ u[1] }}</td>
            </tr>
            <tr>
                <td>Minimal Wear</td>
                <td>{{ u[2] }}</td>
            </tr>
            <tr>
                <td>Field Tested</td>
                <td>{{ u[3] }}</td>
            </tr>
            <tr>
                <td>Well Worn</td>
                <td>{{ u[4] }}</td>
            </tr>
            <tr>
                <td>Battle Scarred</td>
                <td>{{ u[5] }}</td>
            </tr>
        </table>
        {% endfor %}
    </div>
</body>
</html>