*{
  background-color:rgb(142, 165, 194)
}


.HeadFunct {
  background-color:  rgb(101, 101, 101);


}
.HeadFunct > p{
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  display:inline;
  letter-spacing: 18px;
  font-weight:bold;
  font-style: italic;
  position: relative;
  bottom: 10px;
  justify-content: space-evenly;
}



/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* The dropdown container */
.dropdown {
  float: left;

}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Add a red background color to navbar links on hover */
.navbar a:hover {
  background-color: orange;
}
/* Add a red background color to dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: orange;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}





/* The dropdown container */
.second-dropdown {
  float: left;
  
}
/* Adjust styles for the second dropdown */
.second-dropdown .dropbtn {
  background-color: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.second-dropdown:hover .dropbtn {
  background-color: orange; /* Customize the hover color for the second dropdown */
}
/* Dropdown content (hidden by default) */
.second-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.second-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.second-dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.second-dropdown:hover .dropdown-content {
  display: block;
}




/* The dropdown container */
.third-dropdown {
  float: left;
  
}
/* Adjust styles for the second dropdown */
.third-dropdown .dropbtn {
  background-color: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.third-dropdown:hover .dropbtn {
  background-color: orange; /* Customize the hover color for the second dropdown */
}
/* Dropdown content (hidden by default) */
.third-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.third-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.third-dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.third-dropdown:hover .dropdown-content {
  display: block;
}





/* The dropdown container */
.fourth-dropdown {
  float: left;
}
/* Adjust styles for the second dropdown */
.fourth-dropdown .dropbtn {
  background-color: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.fourth-dropdown:hover .dropbtn {
  background-color: orange; /* Customize the hover color for the second dropdown */
}
/* Dropdown content (hidden by default) */
.fourth-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.fourth-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.fourth-dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.fourth-dropdown:hover .dropdown-content {
  display: block;
}



/* The dropdown container */
.fifth-dropdown {
  float: left;
}
/* Adjust styles for the second dropdown */
.fifth-dropdown .dropbtn {
  background-color: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.fifth-dropdown:hover .dropbtn {
  background-color: orange; /* Customize the hover color for the second dropdown */
}
/* Dropdown content (hidden by default) */
.fifth-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.fifth-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.fifth-dropdown-content a:hover {
  background-color: #ddd;
}
/* Show the dropdown menu on hover */
.fifth-dropdown:hover .dropdown-content {
  display: block;
}


.homepagehead {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}